.col {
  background-color: aqua;
  border: 1px solid black;
}

footer {
  text-align: center;
  margin-top: 100px;
}

#jumbo {
  background-image: url("https://images.unsplash.com/photo-1538026023561-c6c2ce248f31?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80");
  background-size: cover;
  color: whitesmoke;
}
